# File types
*.cache
*.db
*.inf
*.pack
*.rad
*.rc
*.scr
*.txt
*.vbsp
*.vdf
*.ver
*.vpk

# Specific files
.autoExclude
.backupExclude

GameState.txt

# Specific directories
bin/
cache/
cfg/ttt/archive/
cfg/*.cfg
!cfg/server.cfg

data/
download/
gamemodes/
logs/

lua/*.lua
lua/autorun/*.lua
lua/autorun/client/
lua/autorun/properties/
lua/autorun/server/*
lua/derma/
lua/drive/
lua/entities/
lua/includes/
lua/matproxy/
lua/menu/
lua/postprocess/
lua/skins/
lua/vgui/
lua/weapons/
!lua/autorun/server/resource.lua

maps/
particles/
resource/
scenes/
settings/
