*.vpk

.backupExclude
GameState.txt
bin/
cache/
cfg/ttt/archive/
cfg/*360controller*.cfg
cfg/autoexec.cfg
cfg/config_default.cfg
cfg/game.cfg
cfg/listenserver.cfg
cfg/mapcycle.txt
cfg/network.cfg
cfg/pure_server_minimal.txt
cfg/settings_default.scr
cfg/skill*.cfg
cfg/trusted_keys_base.txt
cfg/valve.rc
clientside_errors.txt
data/
detail.vbsp
download/
gameinfo.txt
gamemodes/
garrysmod.ver
lights.rad
logs/
lua/
maps/
particles/
resource/
scenes/
settings/
stats.txt
steam.inf
sv.db
